apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: trivy-operator
  namespace: argocd
spec:
  project: default
  source:
    chart: trivy-operator
    repoURL: https://aquasecurity.github.io/helm-charts/
    targetRevision: 0.22.0
    helm:
      values: |
        operator:
          scanJobLimit: 1
        trivy:
          ignoreUnfixed: true
          resources:
            requests:
              cpu: 10m
              memory: 100Mi
            limits:
              cpu: 100m
              memory: 200Mi
        excludeNamespaces: "kube-system,argocd,cert-manager"
  destination:
    server: https://kubernetes.default.svc
    namespace: trivy-system