apiVersion: apps/v1
kind: Deployment
metadata:
  name: wasigo-minio
  namespace: traefik
  labels:
    app: wasigo-minio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wasigo-minio
  template:
    metadata:
      labels:
        app: wasigo-minio
    spec:
      containers:
        - name: minio
          image: docker.io/minio/minio:RELEASE.2024-01-13T22-51-38Z
          args:
            - server
            - /data
            - --console-address
            - ":9001"
          ports:
            - containerPort: 9000
            - containerPort: 9001
          
          env:
            - name: MINIO_ROOT_USER
              valueFrom:
                secretKeyRef:
                  name: wasigo-app-secrets
                  key: MINIO_ACCESS_KEY
            - name: MINIO_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: wasigo-app-secrets
                  key: MINIO_SECRET_KEY
          
          volumeMounts:
            - name: storage
              mountPath: /data
      
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: wasigo-minio-pvc

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wasigo-minio-pvc
  namespace: traefik
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---
apiVersion: v1
kind: Service
metadata:
  name: wasigo-minio
  namespace: traefik
spec:
  selector:
    app: wasigo-minio
  ports:
    - name: api
      port: 9000
      targetPort: 9000
    - name: console
      port: 9001
      targetPort: 9001