apiVersion: batch/v1
kind: Job
metadata:
  name: wasigo-db-init-job
  namespace: database
  annotations:
    argocd.argoproj.io/hook: PostSync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  ttlSecondsAfterFinished: 300
  template:
    spec:
      containers:
        - name: sql-runner
          image: postgres:16-alpine
          command:
            [
              "psql",
              "-h",
              "wasigo-postgres-rw",
              "-U",
              "postgres",
              "-d",
              "wasigo",
              "-f",
              "/scripts/init.sql",
            ]
          env:
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: wasigo-db-superuser
                  key: password
          volumeMounts:
            - name: script-volume
              mountPath: /scripts
      volumes:
        - name: script-volume
          configMap:
            name: wasigo-db-init-script
      restartPolicy: OnFailure
