apiVersion: v1
kind: Secret
metadata:
  name: traefik-dashboard-auth
  namespace: traefik
type: Opaque
stringData:
  # Nuevo Hash Bcrypt para admin:admin
  users: 'admin:$2y$05$L9M/Kq.I.v6N.X6Zp6G6re6u1hH6.S3k6uW6v6y6w6x6z6y6v6u6u'