apiVersion: v1
kind: Secret
metadata:
  name: traefik-dashboard-auth
  namespace: traefik
type: Opaque
stringData:
  # Hash limpio para admin:admin
  users: 'admin:$apr1$98y9h6p2$p.Ym9y/7EIn.h5I152fOC/'