apiVersion: v1
kind: Secret
metadata:
  name: traefik-dashboard-auth
  namespace: traefik
type: Opaque
stringData:
  # Hash MD5 verificado para admin:admin
  users: 'admin:$apr1$98y9h6p2$p.Ym9y/7EIn.h5I152fOC/'
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: dashboard-auth
  namespace: traefik
spec:
  basicAuth:
    secret: traefik-dashboard-auth