apiVersion: v1
kind: Secret
metadata:
  name: traefik-dashboard-auth
  namespace: traefik
type: Opaque
stringData:
  users: "admin:$apr1$v99p0pbc$v.O5vD18.9S/D0uW6PzX6/"
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: dashboard-auth
  namespace: traefik
spec:
  basicAuth:
    secret: traefik-dashboard-auth
    realm: "Traefik Access"
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: coraza-waf
  namespace: traefik
spec:
  plugin:
    coraza:
      directives: |
        SecRuleEngine On
        SecRequestBodyAccess On
        SecRule REQUEST_URI "@contains hack" "id:1,phase:1,deny,status:403,msg:'Bloqueado por WAF Coraza'"