apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: wasigo-db
  namespace: traefik
spec:
  instances: 2
  superuserSecret:
    name: wasigo-db-superuser
  bootstrap:
    initdb:
      database: wasigo
      owner: wasigo_app
      secret:
        name: wasigo-db-owner
      postInitApplicationSQLRefs:
        - name: wasigo-init-sql
          key: init.sql
  storage:
    size: 1Gi
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"